@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f6f6;
    color: #003049;
}

#exceptFooter {
    padding: 0 3rem;
}

/* Cuisine buttons */
#cuisine-category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuisine-button > h4 {
    font-weight: 400;
}

/* Recipe cards */
.picks {
    font-size: 2rem;
    margin: 3rem 0;
}

.card {
    border-radius: 1rem;
    overflow: hidden;
    height: 18rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.card img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content h1 {
    font-size: 1.5vw;
    font-weight: 400;
}

#fav-heart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #f6f6f6;
}

/* Footer */
footer {
    margin-top: 5rem;
    padding: 2rem;
    color: #f6f6f6;
    background-color: #003049;
}
